<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Cache-Control" content="no-transform "/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="telephone=no,email=no" name="format-detection">
<title>我的购物车</title>
</head>
<body class="g-bg" style="height:100%">
<include file="Common:head"/>
<div class="altmsg" name="off"><h4>删除成功</h4></div>
<div id="a-wrap" style="overflow:hidden">
	<section id="section" class="section">
        <header id="header" class="header">
            <nav class='nav bdb'>
                <div href="" class="note">购物车总共有: <b class="a-color" id="itemSize">0</b>件商品</div>
                <div class="item nav-delete" id="navDelete" data-state="close">删除</div>
            </nav>
	    </header>
        <article id="article" class="article pf">
            <ul class="card-list" id="card-list">
						<div class="empty" data-describe="没有找到商品信息">
	                                        <div class="pic">
	                                            <i class="pic_icon pi_classify"></i>
	                                        </div>
	                                        <div class="txt">
	                                            <p>您的购物车空空如也</p>
	                                        </div>
	                    </div>       			
            </ul>
        </article>
        <footer class="footer fxb">
            <nav class='nav cart-footer'>
                <div class="note">
                	<p><small>已优惠 : ¥<font id="favourable">0.00</font></small></p>
                    <p>总计 : <b class="a-color" id="amountMoney">¥0.00</b></p>
                </div>
	                	<a href="javascript:;" class="join-pay" style="background:rgba(0,0,0,0.1);">去结算</a>
            </nav>
        </footer>
    </section>
	<script src=""></script>
	<script src=""></script>

<div id="my_mask" style="display:none;">
     <div id="loading" style="text-align:center;margin-left:auto; margin-right:auto;border:0px solid #5ea626;width:30%;color:red;">
         <img src="/static/images/loadingPic.gif"><br/>
         <small>正在努力加载...</small>
     </div>
</div>
<script src="/static/js/mask.js?v=d2c5c750-f1ff-4c97-bcf0-b3cce04363f9"></script>
<script>M.show();</script>
<div></div>
<div style="display:none">
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?ff5694c1019a3da50ed4022a7701827f";
	  var s = document.getElementsByTagName("script")[0];
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
</div>
</body>
</html>