<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>收货地址管理</title>
<include file="Common:headtop"/>
</head>
<body>
<div id="">
	<div class="">
		<div class="" title="新增地址"><a class="" href="{:U('User/addAddress')}">新增地址</a></div>
		<ul class="">
		<volist name='addressList' id='vo'>
			<li>
				<p>{$vo.recname}({$vo.mobile})</p>
				<p>{$vo.province}&nbsp;{$vo.city}&nbsp;{$vo.area}&nbsp;{$vo.address}</p>
				<p class=""><br/></p>
				<p class="">
					<span class=""><a href="{:U('User/editAddress',array('id'=>$vo['id']))}"><i class=""></i>编辑</a></span>
					<span class=""><a href="{:U('User/address',array('id'=>$vo['id'],'type'=>'del'))}" class=""><i class=""></i>删除</a></span>
				</p>
			</li>
		</volist>
		</ul>
		<div class=""></div>
	</div>
</div>
</body>
</html>