<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>找回密码</title>
<include file="Common:headtop"/>
<script type="text/javascript">
$(function() {
	$('#userForm').validate({
		onkeyup: false,
		onsubmit: true,
		rules: {
			userName: {
				required: true
			}
		},
		messages: {
			userName: {
				required: '用户名不能为空'
			}
		},
		submitHandler: function(form) {
			var userName = $('#userName').val();
			var url = "{:U('User/ajaxFind')}";
			$.post(url, {userName:userName}, function(data){
				if(data.status==1) {
						location.href="{:U('User/checkAnswer')}?userName="+userName;
				} else {
					$('#Text').html("<i>该用户不存在</i>");
				}
			},'json');
		}
	});
});
</script>
</head>
<body class="g-bg" style="height:100%">
<div id="a-wrap" style="height:100%">
<section id="section" class="section" style="position: relative;height: 100%;min-height:470px">
    <article id="article" class="article" >
        <div class="login-regist">
            <div class="lr-header"></div>
            <div class="lr-logo"></div>
            <form id="userForm" method="post">
            <div class="form-list p">
                <ul>
                    <li class="fl-item"><b class="name"><input type="text" id="userName" name="userName" class="input-style" placeholder="请输入用户名"/></b></li>
                </ul>
            </div>
            <label id="Text" style="margin:10px;color:red;"></label>
            <input type="submit" id="btnContinue" name="btnContinue" class="login" value="继续" style="margin:0px;width:100%;"/>
            </form>
        </div>
    </article>
</section>
</div>
</body>
</html>