<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>修改密码</title>
<include file="Common:headtop" />
<script type="text/javascript">
$(function() {
	var name = {$name};
	$('#userForm').validate({
		onkeyup: false,
		rules: {
			password: {
				required: true,
				minlength: 6
			},
			confirmPassword: {
				required: true,
				equalTo: '#password'
			}
		},
		messages: {
			password: {
				required: '密码不能为空',
				minlength: '密码长度必须在6-20个字符之间'
			},
			confirmPassword: {
				required: '密码需要再确认一遍',
				equalTo: '两次密码不一致'
			}
		},
		submitHandler: function(form) {
			var userName = name['userName'];
			var password = $('#password').val();
			var url = "{:U('User/ajaxReset')}";
			$.post(url, {userName:userName, password:password}, function(data){
				if(data.status==1) {
					alert("修改成功！请登录。");
					location.href="{:U('User/login')}";
				} else {
					$('#Text').html("<i>密码修改失败，请稍后重试！</i>");
				}
			},'json');
		}
	});
});
</script>
</head>
<body class="g-bg" style="height: 100%">
	<div id="a-wrap" style="height: 100%">
		<section id="section" class="section"
				style="position: relative; height: 100%; min-height: 470px">
				<article id="article" class="article">
					<div class="login-regist">
						<div class="lr-logo"></div>
						<form id="userForm" method="post">
							<div class="form-list p">
							<ul>
								<li class="fl-item"><b class="name"><input
										type="password" id="password" name="password" class="input-style"
										placeholder="设置新密码" /></b></li>
								<li class="fl-item"><b class="name"><input
										type="password" id="confirmPassword" name="confirmPassword" class="input-style"
										placeholder="再次输入密码" /></b></li>
							</ul>
							</div>
							<label id="Text" style="margin:10px;color:red;"></label>
							<input type="submit" id="btnReset" name="btnReset" class="login" value="修改密码" style="margin:0px;width:100%;"/>
							</form>
						</div>
					</article>
			</section>
		</div>
</body>
</html>