<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Cache-Control" content="no-transform "/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="telephone=no,email=no" name="format-detection">
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="g-bg" style="height: 100%">
<include file="Common:headtop">
	<div id="a-wrap" style="height: 100%">
		<div id="a-wrap">
			<section id="section" class="section">
				<header id="header" class="header">
					<div class="search">
						<div class="input-wrap">
							<form action="/product/searchProduct" method="post">
								<input type="text" name="productName" placeholder="请输入产品名称">
							</form>
						</div>
					</div>
				</header>
			</section>
		</div>
	</div>
</body>
</html>